a.img
100m.img
100m.img.tar.xz

bochsout.txt
krnl.map
kernel.bin.asm

boot/boot.bin
boot/loader.bin
kernel.bin

kernel/*.o
lib/*.o

.vscode/sftp.json
dev/dev_config.json

.BROWSE.VC.DB*
