{
    "name": "DevServer",
    "host": "server_ip",
    "protocol": "sftp",
    "port": 6022,
    "username": "user",
    "password": "password",
    "remotePath": "/home/user/projects/final_os",
    "uploadOnSave": true,
    "downloadOnOpen": false,
    "ignore": [
        ".vscode",
        ".DS_Store",
        "*.ps1",
        "dev/",
	"docs",
        "utils",
        "bochsrc*",
	".git*",
	"*.md",
        "*.img",
        "*.zip",
        "bochsout.txt",
        "krnl.map",
        "kernel.bin.asm",
        "*.bin",
        "*.o"
    ],
    "watcher": {
        "files": "**/*",
        "autoUpload": true,
        "autoDelete": true
    }
}